language: node_js
node_js:
  - "stable"
cache:
  directories:
    - "node_modules"
before_install: cd ./api
install:
  - npm install
script:
  - npm run test
  — npm run coverage
after_success: 
  — npm run coverage