/* General Styles */


/* Color Theme Swatches in RGBA */
.Cópia-de-Autoestim-1-rgba { color: rgba(254, 146, 33, 1); }
.Cópia-de-Autoestim-2-rgba { color: rgba(255, 255, 255, 1); }
.Cópia-de-Autoestim-3-rgba { color: rgba(85, 188, 219, 1); }
.Cópia-de-Autoestim-4-rgba { color: rgba(80, 135, 166, 1); }
.Cópia-de-Autoestim-5-rgba { color: rgba(0, 62, 102, 1); }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
	color: #FFFFFF;
}

nav {
	list-style: none;
	color: #FFFFFF;
}

a {
	text-decoration: none;
	opacity: 0.90;
	color: #FAFCFF;

}

a:hover {
	opacity: 1;
	color: orange;
}
i {
	opacity: 0.75;
	color: rgba(254, 146, 33, 1);
}

i:hover {
	opacity: 1;
}

i.fas.fa-search {
	font-size: 30px;
	padding-right: 30px;
}

.fas.fa-user-plus {
	color: green;
	margin-right: 10px;
}

.fas.fa-user {
	color: green;
	margin-right: 10px;
}

input {
	border-radius: 5px;
	border: none;
	height: 35px;
	width: 170px;
	padding: 5px;
	box-shadow: 0 1px black;
}

body {
	background-color: #FFFFFF;;
}


/* General Table styles */

thead,
tfoot {
	color: grey;
}

table thead div {
	background-color: whitesmoke;
	border-radius: 10px;
	color: grey;
}
table div {
	background-color: #FAFCFF;
	height: 100%;
	width: 100%;
	border-radius: 5px;

}
table tr {
	margin: 2px;
}

table thead h4{
	padding: 2px 6px;
}

table tbody div h4{
	padding: 2px 4px;
	text-align: center;
	color: rgba(0, 62, 102, 0.85);
	margin: 2px;
}

table tbody div h4:hover {
	color: rgba(0, 62, 102, 1);
}

table .balance h4 {
	text-align: right;
}

table a.btn {
	border-radius: 7px;
	background-color: rgba(254, 146, 33, 1);
	/* border-style: none; */
	color: white;
	padding: 2px 10px;
	text-align: center;
	box-shadow: 0 1px black;
	margin: 4px;
	opacity: 0.7;
	
}

table a.btn:hover {
	opacity: 1
}

/* Header Styles */

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 50px;
	height: 60px;
	background-color:#014278;

}

header h1 {
	font-family: "Quicksand", sans-serif;
	/* text-shadow: 0 1px rgba(56, 56, 56, 0.5); */
}

header nav {
	display: flex;
	margin-right: -15px;
	align-items: center;
}

header nav ul {
	display: flex;
}

header nav .nav-group {
	display: flex;
	height: 40px;
	align-items: center;
}

header nav .profile-name:hover {
	opacity: 1;
	cursor: pointer;
	color: orange;
}

header nav .profile-name {
	display: flex;
	flex-direction: column;
	align-items:  flex-end;
	margin-right: 5px;
	opacity: 0.75;
}

header nav img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

header nav ul li {
	margin: 0 15px;
	list-style: none;
	/* text-shadow: 0 1px rgb(56, 56, 56, 0.3); */
}

/* Main Section Styles */

main {
	display: flex;
	height: calc(100vh - 60px);
	box-shadow: inset 0px 2px 3px 2px rgba(0,0,0,0.15);
}

/* Signup area styles */

.signup-area {
	background-color: whitesmoke;
	width: 100%;
	box-shadow: inset 0px 2px 3px 2px rgba(0,0,0,0.15);
}

/* Form styles */

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 30%;
	width: 450px;
	background-color: #014278;
	color: white;
	margin: 80px auto;
	border-radius: 10px;
	box-shadow: 2px 2px 22px 3px rgba(0,0,0,0.75);
}

form h2 {
	margin-top: 10px;
}

form .form-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 90%;
	padding-top: 25px;
}

form .form-item {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

form .form-item label{
	text-shadow: 0 1px rgb(56, 56, 56);
}

form button {
	width: inherit;
	background-color: rgb(201, 235, 201);
	border: none;
	border-radius: 5px;
	margin-bottom: 25px;
	margin-top: 25px;
	line-height: 30px;
	font-size: 20px;
	outline: none;
	cursor: pointer;
	box-shadow: 0 1px black;
}

/* Sign in area styles */
form .sign-in {
	flex-direction: column;
	justify-content: space-around;
	align-items: space-around;
	flex-wrap: wrap;
	width: 100%;
	/* padding-top:; */
}



/* General display styles */

.general-display{
	width: 70%;
	background-image: url(images/card-money.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

/* sidebar area styles */

main {
	display: flex;
}

main section.sidebar {
	display: flex;
	flex-direction: column;
	width: 17.5%;
	background-color: #014278;
	height: 100%;
	padding: 20px;
	box-shadow: inset 1px 0px 6px 1px rgba(0,0,0,0.75);
}

main section.sidebar i{
	font-size: 25px;
}


main section.sidebar .menu-group {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-top: 50px;

}

main section.sidebar .menu-item {
	display: flex;
	align-items: center;
	margin: 15px 0;

}

main section.sidebar .menu-item h5 {
	margin-left: 10px;
	font-weight: normal;
	opacity: 0.75;
	font-size: 1rem;

}

main section.sidebar .menu-item h5:hover {
	opacity: 1;
	color: orange

}

/* dashboard area styles */

main section.dashboard-area {
	display: flex;
	justify-content: center;
	width: 82.5%;
	height: 100%;
	background-color: rgb(250, 252, 255);
	box-shadow: inset 1px 0px 6px 1px rgba(0,0,0,0.75);
	overflow: auto;
	/* padding: 0 5px 5px 5px; */
}

main section.dashboard-area .dashboard {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	background-color: rgb(250, 252, 255);
	box-shadow: inset 0px 1px 6px 1px rgba(0,0,0,0.75);
	padding-left: 50px;
	padding-top: 20px;
	overflow: auto;
}

main section.dashboard-area .dashboard.new {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: unset;
	width: 100%;
	height: 100%;
	background-color: rgb(250, 252, 255);
	box-shadow: inset 0px 1px 6px 1px rgba(0,0,0,0.75);
	padding-left: 50px;
	padding-top: 20px;
	overflow: auto;
}

main section.dashboard-area .dashboard .title {
	color: rgba(0, 62, 102, 1);
	text-align: left;
	justify-content: space-between;
	width: 90%;
}



main section.dashboard-area .dashboard .accounts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 45%;
	width: 100%;
}

main section.dashboard-area h3 {
	color: rgba(0, 62, 102, 1);
}

main section.dashboard-area .dashboard .accounts-box {
	display: flex;
	background-color: #014278;
	align-items: center;
	justify-content: center;
	width: 90%;
	height: 80%;
	box-shadow: inset 0px 1px 3px 1px rgba(0,0,0,0.15);
	border-radius: 5px;
}

main section.dashboard-area .accounts.search.plain {
	display: flex;
	background-color: #FAFCFF;
	align-items: center;
	justify-content: center;
	width: 90%;
	height: 400px;
}

main section.dashboard-area .accounts.search.plain form {
	display: flex;
	flex-direction: column;
	background-color: #FAFCFF ;
	align-items:	center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

main section.dashboard-area .accounts.search.plain form .new {
	border: 1px solid orange;
	width: 100%;
	box-shadow: none;
}

main section.dashboard-area .dashboard .recent-transactions {
	height: 45%;

}

main section.dashboard-area .dashboard .accounts.new-account {
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;

}

main section.dashboard-area .dashboard.new {
	align-items: center;
}

main section.dashboard-area .dashboard.hist {
	justify-content: space-between;

}

main section.dashboard-area .dashboard .search {
	height: 100px;
	max-height: 250px;

}

main section.dashboard-area .dashboard .search form {
	height: 95%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 99%;

}


main section.dashboard-area .dashboard .search form .form-group {
	flex-direction: row;
	flex-wrap: wrap-reverse;
	width: 20%;
	padding-top: 5px;

}

.account-details {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	height: 100px;
	width: 80%;
	margin-top: -40px;

}

.account-details h4{
	font-weight: normal;
	padding: 15px;
	color:  #014278;

}

.delete {
	width: 200px;
	background-color: rgba(254, 146, 33, 1);
	border: none;
	border-radius: 25px;
	line-height: 30px;
	font-size: 20px;
	outline: none;
	cursor: pointer;
	box-shadow: 0 1px black;
	text-align: center;
}

.title {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;

}

button.green {
	width: 200px;
	background-color: rgba(0, 62, 102, 1);
	border: none;
	border-radius: 5px;
	line-height: 30px;
	font-size: 20px;
	outline: none;
	cursor: pointer;
	box-shadow: 0 1px black;
	/* margin-left: 20px; */

}

.btn-group {
	display: flex;
	margin-bottom: 10px;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	width: 70%;
}


main section.dashboard-area .dashboard .accounts-box img {
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

main section.dashboard-area .dashboard .accounts-box.user {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: centre;
	background-color: #0274BA;
	height: 200px;
}

main section.dashboard-area .dashboard .accounts-box.user .main-area{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 70%;
}

main section.dashboard-area .dashboard .accounts-box.user .details {
	display: flex;
	height: 150px;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

main section.dashboard-area .dashboard .accounts-box.user .right-area {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 30%;
	background-color: #014278;
	}

.index {
	position: relative;
	justify-content: right;
	text-align: right;
	min-height: 100vh;
	width: 100%;
	height: 100%;
}

.index .back-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url(./images/mount.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}

.index .side {
	margin-top: 100px;
	margin-right: 50px;
}

.index .side h1 {
	padding: 10px;
	font-weight: normal;
}

#idx {
	background: none;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.credit {
	width: 180px;
	background-color: #FAFCFF;
	border: 1px solid greenyellow;
	border-radius: 5px;
	line-height: 30px;
	font-size: 20px;
	outline: none;
	cursor: pointer;
	box-shadow: 0 1px rgb(212, 177, 177);
	color: #014278;
}

.credit-lg {
	width: 300px;
}

.debit {
	width: 180px;
	background-color: #FAFCFF;
	border: 1px solid red;
	border-radius: 5px;
	line-height: 30px;
	font-size: 20px;
	outline: none;
	cursor: pointer;
	box-shadow: 0 1px black;
	color: red;
}

main section.dashboard-area .accounts.search.plain form.flex-row  {
	display: flex;
	flex-direction: row;
	background-color: #FAFCFF ;
	align-items:	center;
	justify-content: space-around;
	width: 100%;
	height: 100px;
	flex-wrap: wrap;
	margin: auto;
	
}

main section.dashboard-area .accounts.search.plain form.flex-row.half-width {
	width: 50%;
}




/* Color Theme Swatches in RGBA */
.orange { color: rgba(254, 146, 33, 1); }
.Cópia-de-Autoestim-2-rgba { color: rgba(255, 255, 255, 1); }
.Cópia-de-Autoestim-3-rgba { color: rgba(85, 188, 219, 1); }
.Cópia-de-Autoestim-4-rgba { color: rgba(80, 135, 166, 1); }
.Cópia-de-Autoestim-5-rgba { color: rgba(0, 62, 102, 1); }

.btn-width {
	width: 120px;
	height: 61px;
}